/*
  Derrek Do
  10/7/2023

  Style sheet that is applied to both html file to make the site easier to look at.
  Various rule sets are created to ensure different sections are seperated with their own styles.

*/

body {
  background-color: #2a2b2e;
  font-family: "Helvetica", sans-serif;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

a {
  color: #58a6ff;
}

ol, #emotion, h1, nav{
  display: flex;;
  flex-direction: row;
  
}

ol, #emotion, h1{
  justify-content: space-evenly;
}

nav {
  justify-content: space-around;
  border-style: solid;
  border-radius: 10px;
  border-color: white;
  padding: 30px;
}

#column, img{
  margin-right: 50px;
  height: 50%;
  width: 50%;
  object-fit: contain;
}

blockquote p span {
  background-color: grey;
  padding: 10px;
}

aside {
  width: 30%;
  float: right;
  box-shadow: inset 5px 0 5px -5px white;
  font-style: italic;
  color: white;
  margin-left: 10px;
}



